.image{
    background-image: url('b11.avif');
    width: 100%;
    height: 300px;
    background-size: cover;
}

form{
    width: 50%;
    border: 1px solod #3d3d4d;
    background: #d3d3d3;
    border-radius: 10px;
    padding: 10px;
}